<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns="">
<style>
    #headerBack{
        width: 100%;
        height: 300px;
    }
    #headerBack img{
        width: 100%;


    }
    #headerCanvas{
        position: absolute;
        height: 300px;
    }
</style>
<div id="headerBack">
    <canvas id="headerCanvas"></canvas>
    <a href="/">
    <img src="/public/img/gabojagoLogo.png"  alt="">
    </a>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--📁 메뉴부분 아래 클래스의 d-flex 하면 화면 줄일때 햄버거버튼에 문제가 생겨서 이대로 잠시 둡니다..-->
        <div class="collapse navbar-collapse d-flex justify-content-between " id="navbarSupportedContent">
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/trip/list.do">가보자고</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/plan/list.do">같이가자</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/comm/list.do">같이놀자</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/sells/list.do">상품판매</a>
                    </li>
                </ul>
            </div>
            <div >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <th:block th:if="${session.loginUser==null}">
                        <li class="nav-item d-flex ">
                            <a class="nav-link me-2" href="/user/login.do">로그인</a>
                            <a class="nav-link" href="/user/signupAgree.do">회원가입</a>
                        </li>
                    </th:block>
                    <th:block th:if="${session.loginUser!=null}">
                        <li class="nav-item dropdown d-flex">
                            <a
                               th:href="@{'/user/{uId}/detail.do'(uId=${session.loginUser.uId})}"
                               class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span th:text="${session.loginUser.uId}"></span>
                                (<span th:text="${session.loginUser.name}"></span>)
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/my/user.do">회원정보</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">일정/커뮤니케이션</a></li>
                                <li><a class="dropdown-item" href="/my/qna/service.do">고객센터</a></li>
                                <li><a class="dropdown-item" href="#">나의활동</a></li>
                            </ul>
                            <a class="nav-link" href="/user/logout.do">로그아웃</a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</nav>
</html>


<!--🍒 드롭다운메뉴 필요하신분 추가해서 사용하세요 :)-->
<!--                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>

                </li>-->
<script>
    const hcanvas = document.getElementById("headerCanvas");
    const wd = document.getElementById("headerBack").clientWidth;
    const hctx = hcanvas.getContext("2d");
    hcanvas.width = wd;
    hcanvas.height = 300;
    let busImg = new Image();
    busImg.src = "/public/img/header/bus.png"
    busImg.onload = ()=>{
        let cnt = -100;
        function bus(){
            hctx.clearRect(0,0,wd,300);
            cnt++;
            if(cnt>wd) cnt = -100;
            hctx.drawImage(busImg,cnt,200);
            requestAnimationFrame(bus);
        }
        bus();

    }


</script>
